<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Erdiwo{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/index.css') }}">
        <script type="text/javascript" src="{{ asset('assets/chartjs/chart.umd.js') }}"></script>
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <div class="container"> {{ include('_partials/_header.html.twig') }} </div>

        <main role="main"> {% block body %}{% endblock %} </main>

        <script src="{{asset('assets/jquery/jquery.js')}}" type="text/javascript"></script>
        <script src="{{asset('assets/popper/popper.js')}}" type="text/javascript"></script>
        <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
